
.shop-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.product-container{
    border-right: 2px solid lightgray ;
    /* margin-right: 5px;
    margin-left: 100px; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    margin: 25px;

}
.cart-container{
    position: sticky;
    top: 10%;
    
}